<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="studyweb">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="study.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/study/study">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="studyweb"/>
        <property name="java-output-path" value="/studyweb/build/classes"/>
    </wb-module>
</project-modules>
